.killer {
  &__title {
    &::before,
    &::after {
      content: "🔪";
    }
  }

  &__home-link {
    background-color: $black;
    border-radius: 4px;
    color: $white;
    display: flex;
    font-family: 'Lilita One', cursive;
    font-size: 1.5em;
    justify-content: center;
    padding: 4px 8px;
    text-decoration: none;
  }

  &__no-players-msg {
    font-size: 1.5em;
    text-align: center;
  }

  &__add-player {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  &__add-player-submit,
  &__add-player-cancel {
    border: none;
    border-radius: 50%;
    font-family: 'Lilita One', cursive;
    font-size: 2.5em;
    height: 52px;
    margin-top: 8px;
    position: relative;
    width: 52px;
  }

  &__add-player-submit {
    background-color: $black;
    color: $white;
  }

  &__add-player-cancel {
    background-color: $red;
    color: $white;
    margin-left: 8px;
    margin-top: 0;
  }

  &__add-player-form {
    border: 2px solid $black;
    border-radius: 8px;
    color: $black;
    font-family: 'Lilita One', cursive;
    font-size: 2em;
    height: 48px;
    padding-left: 8px;
    position: relative;
    width: calc(90% - 64px);
  }

  &__add-player-form~&__add-player-submit {
    margin-left: 8px;
    margin-top: 0;
  }

  &__reset {
    background-color: $red;
    border: none;
    border-radius: 4px;
    bottom: 8px;
    color: $white;
    display: flex;
    font-family: 'Lilita One', cursive;
    font-size: 1.75em;
    justify-content: center;
    left: 50%;
    padding: 8px 16px;
    position: fixed;
    transform: translateX(-50%);
    width: 50%;
  }
}