.winner {
  align-items: center;
  background-color: $green;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  
  &__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;

    a {
      background-color: $black;
      border-radius: 4px;
      color: $green;
      display: flex;
      font-family: 'Lilita One', cursive;
      font-size: 1.5em;
      justify-content: center;
      padding: 4px 8px;
      text-decoration: none;
    }
  }
}